<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddPlace</servlet-name>
        <servlet-class>com.pineapplify.action.AddPlace</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPlantation</servlet-name>
        <servlet-class>com.pineapplify.action.AddPlantation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddWorker</servlet-name>
        <servlet-class>com.pineapplify.action.AddWorker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDateCheck</servlet-name>
        <servlet-class>com.pineapplify.action.AdminDateCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPendingActivities</servlet-name>
        <servlet-class>com.pineapplify.action.AdminPendingActivities</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryListing</servlet-name>
        <servlet-class>com.pineapplify.action.CategoryListing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPlantation</servlet-name>
        <servlet-class>com.pineapplify.action.EditPlantation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditWorker</servlet-name>
        <servlet-class>com.pineapplify.action.EditWorker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.pineapplify.action.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagePlantation</servlet-name>
        <servlet-class>com.pineapplify.action.ManagePlantation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePlantation</servlet-name>
        <servlet-class>com.pineapplify.action.UpdatePlantation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateWorker</servlet-name>
        <servlet-class>com.pineapplify.action.UpdateWorker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCultivation</servlet-name>
        <servlet-class>com.pineapplify.action.ViewCultivation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewNotification</servlet-name>
        <servlet-class>com.pineapplify.action.ViewNotification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewNotificationList</servlet-name>
        <servlet-class>com.pineapplify.action.ViewNotificationList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPlantation</servlet-name>
        <servlet-class>com.pineapplify.action.ViewPlantation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfile</servlet-name>
        <servlet-class>com.pineapplify.action.ViewProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>/action</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>com.pinepplify.action.action</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.pineapplify.action.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegister</servlet-name>
        <servlet-class>com.pineapplify.action.UserRegister</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegister</servlet-name>
        <url-pattern>/UserRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPlace</servlet-name>
        <url-pattern>/AddPlace</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPlantation</servlet-name>
        <url-pattern>/AddPlantation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddWorker</servlet-name>
        <url-pattern>/AddWorker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDateCheck</servlet-name>
        <url-pattern>/AdminDateCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPendingActivities</servlet-name>
        <url-pattern>/AdminPendingActivities</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryListing</servlet-name>
        <url-pattern>/CategoryListing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPlantation</servlet-name>
        <url-pattern>/EditPlantation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditWorker</servlet-name>
        <url-pattern>/EditWorker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagePlantation</servlet-name>
        <url-pattern>/ManagePlantation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePlantation</servlet-name>
        <url-pattern>/UpdatePlantation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateWorker</servlet-name>
        <url-pattern>/UpdateWorker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCultivation</servlet-name>
        <url-pattern>/ViewCultivation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewNotification</servlet-name>
        <url-pattern>/ViewNotification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewNotificationList</servlet-name>
        <url-pattern>/ViewNotificationList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPlantation</servlet-name>
        <url-pattern>/ViewPlantation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProfile</servlet-name>
        <url-pattern>/ViewProfile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
